Repository jorrete/django-staticfiles-vite: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, eslint

.pre-commit-config.yaml:

exclude: (migrations/)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args:
          [
            "--preview",
          ]
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        args:
          [
            "--fix",
            "django_staticfiles_vite/**/*.{js,ts,jsx,tsx}",
            "**/*.{js,ts,jsx,tsx}",
          ]

tidy
  test_app/django/tests/test_suite/test_preact/App.jsx
  test_app/django/tests/test_suite/test_preact/test_preact.vite.js
  test_app/django/www/tests/test_qunit.js
  test_app/django/www/tests/test_qunit_foo.js
Due: eslint

change keep browser open on fail strategy
  django_staticfiles_vite/tests/qunit/__init__.py
Due: isort, black, flake8

catch qunit errors
  django_staticfiles_vite/tests/qunit/__init__.py
Due: isort, black, flake8

allow to specify runserver command to overload it
  django_staticfiles_vite/management/commands/runserver.py
  django_staticfiles_vite/settings.py
  test_app/django/www/tests/test_qunit.js
Due: isort, black, flake8, eslint

link tag
  django_staticfiles_vite/templatetags/vite.py
Due: isort, black, flake8

wip
  Makefile
  test_app/django/tests/test.py
Due: isort, black, flake8

wip
  django_staticfiles_vite/node/serve.js
  django_staticfiles_vite/settings.py
  django_staticfiles_vite/utils.py
  test_app/django/config/context.py
  test_app/django/config/settings.py
  test_app/django/config/urls.py
  test_app/django/www/urls.py
Due: isort, black, flake8, eslint

wip
  django_staticfiles_vite/node/plugin-django-static.js
  django_staticfiles_vite/node/serve.js
  django_staticfiles_vite/utils.py
Due: isort, black, flake8, eslint

wip
  django_staticfiles_vite/node/build.js
  django_staticfiles_vite/node/serve.js
Due: eslint

wip
  django_staticfiles_vite/node/plugin-django-static.js
Due: eslint

wip
  django_staticfiles_vite/node/plugin-django-static.js
  test_app/django/www/static/www/App.jsx
Due: eslint

wip
  django_staticfiles_vite/management/commands/collectstatic.py
  test_app/django/www/static/www/App.jsx
Due: isort, black, flake8, eslint

manifest error
  django_staticfiles_vite/management/commands/collectstatic.py
  test_app/django/config/settings.py
  test_app/django/config/urls.py
  test_app/django/static/fox.png
  test_app/django/www/static/www/vite/App.jsx
Due: isort, black, flake8, eslint

wip
  django_staticfiles_vite/templatetags/vite.py
Due: isort, black, flake8

wip
  django_staticfiles_vite/node/plugin-django-static.js
  test_app/django/config/settings.py
Due: isort, black, flake8, eslint

wip
  django_staticfiles_vite/node/plugin-django-static.js
  django_staticfiles_vite/node/utils.js
Due: eslint

Update vite
  django_staticfiles_vite/management/commands/collectstatic.py
  django_staticfiles_vite/node/build.js
  django_staticfiles_vite/node/plugin-django-static.js
  django_staticfiles_vite/node/serve.js
  django_staticfiles_vite/node/utils.js
  django_staticfiles_vite/settings.py
  django_staticfiles_vite/templatetags/vite.py
  django_staticfiles_vite/utils.py
  package-lock.json
  package.json
  test_app/django/config/settings.py
  test_app/django/www/static/www/vite/App.jsx
  test_app/django/www/tests/test_qunit.py
  test_app/package-lock.json
  test_app/package.json
  test_app/vite.config.js.timestamp-1700424239622-1fb9a20005f4b.mjs
Due: isort, black, flake8, eslint

wip
  django_staticfiles_vite/templates/django_staticfiles_vite/qunit_list.html
Due: none

include package.json
  .gitignore
  MANIFEST.in
Due: none

wip
  .null-ls_814785_setup.py
  Makefile
  django_staticfiles_vite/management/commands/collectstatic.py
Due: isort, black, flake8

wip
  Makefile
  django_staticfiles_vite/management/commands/collectstatic.py
  django_staticfiles_vite/node/build.js
  django_staticfiles_vite/templatetags/vite.py
  package-lock.json
  package.json
Due: isort, black, flake8, eslint
